<div class="social">
  <ul>
    <li>
      <a href="https://twitter.com/ctothink" target="_blank" rel="noopener">
        <img src='<%= image_path("twitter_icon_40.svg") %>' width="40" height="40" alt="Twitter Icon" title="Twitter Feed " />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/ctothink/" target="_blank" rel="noopener">
        <img src='<%= image_path("linkedin_icon_40.svg") %>' width="40" height="40" alt="LinkedIn Icon" title="LinkedIn Feed " />
      </a>
    </li>
    <li>
      <a href="/rss.xml">
        <img src='<%= image_path("rss_icon.svg") %>' width="40" height="40" alt="RSS Feed Icon" title="RSS Feed" />
      </a>
    </li>
  </ul>
</div>
<div class="legal">
  <ul>
    <li><a href="/privacy_policy.html">Privacy Policy</a></li>
    <li><a href="/terms_of_service.html">Terms of Service</a></li>
  </ul>
</div>
<div class="copyright">
  <%= config[:site_copyright] %>
</div>
